{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-heading">
            <h1> {{name}} </h1>
        </div>
    </div>
    <div class="card-body">
        {% for article in news %}
        <div class="col-md-3 detail">
            <a href={{article.url}} target="_blank">
                <img src={{article.urlToImage}} alt="Article Image" width="300" height="200">
            </a>
            <div class="words">
                <h4 class="text-bold"> {{article.title}} </h4>
                <p class="small">- {{article.author}} </p>
                <p class="small">Posted on {{article.publishedAt}}</p>
                <hr>
                <p> {{article.description}}...
                    <a href={{article.url}} target="_blank">Read Full Article</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}